[submodule "lib/LSDynaReader"]
    path = lib/LSDynaReader
    url = https://github.com/luchete80/LSDynaReader.git
[submodule "lib/Math"]
    path = lib/Math
    url = https://github.com/luchete80/Math.git
[submodule "lib/mesh-adapt"]
	path = lib/mesh-adapt
	url = git@github.com:luchete80/mesh-adapt.git
