[submodule "lib/LSDynaReader"]
    path = lib/LSDynaReader
    url = https://github.com/luchete80/LSDynaReader.git
[submodule "lib/Math"]
    path = lib/Math
    url = https://github.com/luchete80/Math.git